<h1>Add category</h1>

<form action="/category" method="post">
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required>
        <label for="name">Name of category</label>
        <span class="helper-text" data-error="Enter category"></span>
    </div>
    <button class="btn btn-primary" type="submit">Add category</button>
</form>
<br>
<a class="waves-effect waves-light btn" href="/">back</a>