<h1>Main page</h1>

<ul class="collection with-header">
    <li class="collection-header">
        <h4>App menu</h4>
    </li>
    <li class="collection-item">
        <div>Add user<a href="/user" class="secondary-content"><i class="material-icons right">Open</i></a></div>
    </li>
    <li class="collection-item">
        <div>Add category<a href="/category/add" class="secondary-content"><i class="material-icons right">Open</i></a>
        </div>
    </li>
    <li class="collection-item">
        <div>Add record<a href="/record/add" class="secondary-content"><i class="material-icons right">Open</i></a>
        </div>
    </li>
    <li class="collection-item">
        <div>Show all users<a href="/users" class="secondary-content"><i class="material-icons right">Open</i></a></div>
    </li>
    <li class="collection-item">
        <div>Find user<a href="/find/user" class="secondary-content"><i class="material-icons right">Open</i></a></div>
    </li>
    <li class="collection-item">
        <div>Delete user<a href="/delete/user" class="secondary-content"><i class="material-icons right">Open</i></a>
        </div>
    </li>
    <li class="collection-item">
        <div>Show all categories<a href="/category" class="secondary-content"><i
                    class="material-icons right">Open</i></a></div>
    </li>
    <li class="collection-item">
        <div>Delete category<a href="/delete/category" class="secondary-content"><i
                    class="material-icons right">Open</i></a></div>
    </li>
    <li class="collection-item">
        <div>Show all record<a href="/records" class="secondary-content"><i class="material-icons right">Open</i></a>
        </div>
    </li>
    <li class="collection-item">
        <div>Find record by id<a href="/find/record" class="secondary-content"><i
                    class="material-icons right">Open</i></a></div>
    </li>
    <li class="collection-item">
        <div>Delete record<a href="/delete/record" class="secondary-content"><i
                    class="material-icons right">Open</i></a></div>
    </li>

    </li>
    <li class="collection-item">
        <div>filtering by records<a href="/find/filter/record" class="secondary-content"><i
                    class="material-icons right">Open</i></a></div>
    </li>
</ul>