<h1>Find record</h1>

<form action="/find/record" method="post">
    <div class="input-field">
        <input id="id" name="id" type="text" class="validate" required>
        <label for="id">Id of record</label>
        <span class="helper-text" data-error="Enter id"></span>
    </div>
    <button class="btn btn-primary" type="submit">Find by id</button>
</form>
<br>
<a class="waves-effect waves-light btn" href="/">back</a>