<h1>Delete user</h1>

<form id="deleteUser">
    <div class="input-field">
        <input id="id" name="id" type="text" class="validate" required>
        <label for="id">Id of user</label>
        <span class="helper-text" data-error="Enter id"></span>
    </div>
    <button class="btn btn-primary" type="submit">Delete by id</button>
</form>
<br>
<a class="waves-effect waves-light btn" href="/">back</a>